{% extends 'base.html' %}
{% load static %}
{% block title %}Деталі посту{% endblock %}
{% block content %}
<h2>{{ post.user.first_name }} {{ post.user.last_name }}</h2>
<p class="text-muted my-0">{{ post.updated_at|date:"d.m.Y" }} {{ post.updated_at|time:"H:i" }}</p>
<!--<p class="badge bg-success my-0">Вподобайки: {{ likes_count }}</p>-->
<p class="badge bg-dark my-0">Переглядів: {{ post.views }}</p>
<p class="fs-4">{{ post.text }}</p>
{% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-bottom img-fluid"
         style="object-fit: cover; height: auto; width: 40%" alt="Зображення публікації">
{% else %}
    <img src="{% static 'img/posts/post_default.jpg' %}" class="card-img-bottom img-fluid"
         style="object-fit: cover; height: auto; width: 40%" alt="Зображення публікації">
{% endif %}
<div class="container-fluid mt-3 px-0">
    <div class="d-flex text-start">
        {% if is_liked %}
            <p class="py-2"><a href="{% url 'like-post' post.pk %}"><i class="fa-solid fa-heart"></i></a> {{ likes_count }}</p>
        {% else %}
            <p class="py-2"><a href="{% url 'like-post' post.pk %}"><i class="fa-regular fa-heart"></i></a> {{ likes_count }}</p>
        {% endif %}
        {% if is_author %}
            <p><a href="{% url 'edit-post' post.pk %}"><button type="button"
                                                              class="btn btn-warning m-2 btn-sm">Редагувати
            </button></a></p>
            <p><a href="{% url 'delete-post' post.pk %}"><button type="button" class="btn btn-danger m-2 btn-sm">
                Видалити</button></a></p>
        {% endif %}
    </div>
</div>
{% for comment in comments %}
<div class="card">
    <div class="card-body">
        <h6 class="card-title">{{ comment.author.first_name }} {{ comment.author.last_name }}</h6>
        <p class="card-text">{{ comment.text }}</p>
        {% if post.image %}
            <img src="{{ comment.image.url }}" class="card-img-bottom img-fluid"
                 style="object-fit: cover; height: auto; width: 30%" alt="Зображення публікації">
        {% else %}
            <img src="{% static 'img/posts/post_default.jpg' %}" class="card-img-bottom img-fluid"
                 style="object-fit: cover; height: auto; width: 30%" alt="Зображення публікації">
        {% endif %}
        <p class="card-text"><small class="text-muted">{{ comment.updated_at|date:"d.m.Y" }} {{ comment.updated_at|time:"H:i" }}</small></p>
    </div>
</div>
{% endfor %}
{% endblock %}