{% extends 'base.html' %}
{% block title %}Зміна даних аккаунту{% endblock %}
{% block content %}
<div class="col-6 p-2">
    <h1>Змініть дані свого аккаунту</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
    <!--        <div class="text-center">-->
    <!--            <img src="{{ profile_form.avatar.url }}" class="rounded mx-auto d-block" alt="Зображення профіля">-->
    <!--        </div>-->
        {% csrf_token %}
        <p><input type="submit" class="btn btn-dark" value="Змінити"></p>
    </form>
</div>
{% endblock %}