{% extends 'base.html' %}
{% load static %}
{% block title %}Профіль користувача{% endblock %}
{% block content %}
<div class="col-6 p-2 my-2 bg-light">
    <h5>{% if request.user.userprofile.avatar %}
            <img src="{{ request.user.userprofile.avatar.url }}" alt="Фото профілю" width="40" height="40"
                class="rounded-circle">
        {% else %}
            <img src="{% static 'img/posts/post_default.jpg' %}" alt="Фото профілю" width="40" height="40"
                class="rounded-circle">
        {% endif %}
        {{ request.user.first_name }} {{ request.user.last_name }}</h5>
    <p><button type="button">Follow</button></p>
    <p><b>Стать:</b> {{ profile.get_gender_display }}</p>
    <p><b>Дата народження:</b> {{ profile.birthday|date:"d.m.Y" }}</p>
    <p><b>Номер телефону:</b> {{ profile.user.phone_number }}</p>
    <p><b>Адреса електронної пошти:</b> {{ profile.user.email }}</p>
    <p><b>Біографія:</b> {{ profile.bio }}</p>
</div>
{% endblock %}